@tailwind base;
@tailwind components;
@tailwind utilities;

body{
background: linear-gradient(90deg, rgba(0,28,49,1) 0%, rgba(0,44,74,1) 35%, rgba(0,53,87,1) 73%);
color: #cbecff;
font-family: 'Work Sans', sans-serif;
background-repeat: no-repeat;
background-attachment: fixed;

}

.searchIcon{
    display: inherit;
}
.bookIcon{
    display: inherit;
}
.feedbackIcon{
    display: inherit;
}

